/* ФУРА НА ЗАДНЕМ ФОНе */


.backgroundImage {
  background-image: url('../images/headerBackground.png');
  height: 70vh;
  width: 100%;
  background-size: cover;
}

/* БЛОК С ЗАГОЛОВКОМ И ПОДЗАГОЛОВКОМ*/
.mainTitle {
  background-size: cover;
  border: 2px solid #c8a35f;
  margin: 0 auto;
  width: 920px;
  height: 245px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 950px;
  height: 295px;
}

.infoBlock {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.greyBlock {
  background-color: #393F47;
  width: 650px;
  height: 560px;
}

.services {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border: 2px solid #c8a35f;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 295px;
}

/* ЗАГОЛОВОК */
h1 {
  text-align: center;
  padding: 45px 0px 25px 0px;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 75px;
  text-shadow: 4px 5px 30px #000000;
}

/* ПОДЗАГОЛОВОК */
h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 0px 60px 0px 60px;
  text-shadow: 8px 8px 15px #000000;
}